---

_You are currently looking at **version 1.0** of this notebook. To download notebooks and datafiles, as well as get help on Jupyter notebooks in the Coursera platform, visit the [Jupyter Notebook FAQ](https://www.coursera.org/learn/python-text-mining/resources/d9pwm) course resource._

---

# Assignment 1

In this assignment, you'll be working with messy medical data and using regex to extract relevant infromation from the data. 

Each line of the `dates.txt` file corresponds to a medical note. Each note has a date that needs to be extracted, but each date is encoded in one of many formats.

The goal of this assignment is to correctly identify all of the different date variants encoded in this dataset and to properly normalize and sort the dates. 

Here is a list of some of the variants you might encounter in this dataset:
* 04/20/2009; 04/20/09; 4/20/09; 4/3/09
* Mar-20-2009; Mar 20, 2009; March 20, 2009;  Mar. 20, 2009; Mar 20 2009;
* 20 Mar 2009; 20 March 2009; 20 Mar. 2009; 20 March, 2009
* Mar 20th, 2009; Mar 21st, 2009; Mar 22nd, 2009
* Feb 2009; Sep 2009; Oct 2010
* 6/2008; 12/2009
* 2009; 2010

Once you have extracted these date patterns from the text, the next step is to sort them in ascending chronological order accoring to the following rules:
* Assume all dates in xx/xx/xx format are mm/dd/yy
* Assume all dates where year is encoded in only two digits are years from the 1900's (e.g. 1/5/89 is January 5th, 1989)
* If the day is missing (e.g. 9/2009), assume it is the first day of the month (e.g. September 1, 2009).
* If the month is missing (e.g. 2010), assume it is the first of January of that year (e.g. January 1, 2010).

With these rules in mind, find the correct date in each note and return a pandas Series in chronological order of the original Series' indices.

For example if the original series was this:

    0    1999
    1    2010
    2    1978
    3    2015
    4    1985

Your function should return this:

    0    2
    1    4
    2    0
    3    1
    4    3

Your score will be calculated using [Kendall's tau](https://en.wikipedia.org/wiki/Kendall_rank_correlation_coefficient), a correlation measure for ordinal data.

*This function should return a Series of length 500 and dtype int.*

In [1]:
import os
os.getcwd()

'C:\\Users\\S.Sagara\\Documents\\Data Science\\coursera\\Applied Data Science with Python Specialization\\Applied Text Mining'

In [2]:
import pandas as pd

doc = []
with open('dates.txt') as file:
    for line in file:
        doc.append(line)

df = pd.Series(doc)
df.head(10)

0         03/25/93 Total time of visit (in minutes):\n
1                       6/18/85 Primary Care Doctor:\n
2    sshe plans to move as of 7/8/71 In-Home Servic...
3                7 on 9/27/75 Audit C Score Current:\n
4    2/6/96 sleep studyPain Treatment Pain Level (N...
5                    .Per 7/06/79 Movement D/O note:\n
6    4, 5/18/78 Patient's thoughts about current su...
7    10/24/89 CPT Code: 90801 - Psychiatric Diagnos...
8                         3/7/86 SOS-10 Total Score:\n
9             (4/10/71)Score-1Audit C Score Current:\n
dtype: object

In [3]:
def date_sorter():
    
    # Your code here
    
    return # Your answer here

In [3]:
#make dataframe
df3 = pd.DataFrame(columns=['text'])
df3['text'] = df

In [111]:
#dates ver1 standard format date extraction
df3['dates'] = df.str.findall(r'\d{1,2}[/-]\d{1,2}[/-]\d{2,4}')

In [90]:
#dates ver 2 4-digits, only year is available
df3['dates2'] = df.str.findall(r'[12]\d{3}')

In [63]:
#dates ver 3 Month is like Oct, October
df3['dates3'] = df.str.findall(r'(?:\d{1,2} )?(?:Jan|Feb|Mar|Apr|May|Jun|Jul|Aug|Sep|Oct|Nov|Dec)[a-z]* (?:\d{1,2}, )?\d{4}')

In [73]:
#year treatment
rown = []
year = []
for i in df3['dates']:
    if len(i) == 0:
        rn = 0
        yr = 0
    else:
        rn = 1
        yr = pd.to_datetime(i[0]).year
    rown.append(rn)
    year.append(yr)

In [115]:
df3.to_csv("df3.csv")

In [12]:
from datetime import datetime

In [117]:
import numpy as np

In [118]:
df3['year'] = np.where(df3['flg1'] == 0, df3['dates2'], df3['dates'])

In [119]:
df3

,text,dates,dates2,dates3,flg1,year
0,03/25/93 Total time of visit (in minutes):\n,[03/25/93],[],[],1,[03/25/93]
1,6/18/85 Primary Care Doctor:\n,[6/18/85],[],[],1,[6/18/85]
2,sshe plans to move as of 7/8/71 In-Home Servic...,[7/8/71],[],[],1,[7/8/71]
3,7 on 9/27/75 Audit C Score Current:\n,[9/27/75],[],[],1,[9/27/75]
4,2/6/96 sleep studyPain Treatment Pain Level (N...,[2/6/96],[],[],1,[2/6/96]
5,.Per 7/06/79 Movement D/O note:\n,[7/06/79],[],[],1,[7/06/79]
6,"4, 5/18/78 Patient's thoughts about current su...",[5/18/78],[],[],1,[5/18/78]
7,10/24/89 CPT Code: 90801 - Psychiatric Diagnos...,[10/24/89],[],[],1,[10/24/89]
8,3/7/86 SOS-10 Total Score:\n,[3/7/86],[],[],1,[3/7/86]
9,(4/10/71)Score-1Audit C Score Current:\n,[4/10/71],[],[],1,[4/10/71]
10,"(5/11/85) Crt-1.96, BUN-26; AST/ALT-16/22; WBC...",[5/11/85],[],[],1,[5/11/85]
11,4/09/75 SOS-10 Total Score:\n,[4/09/75],[],[],1,[4/09/75]
12,8/01/98 Communication with referring physician...,[8/01/98],[],[],1,[8/01/98]
13,1/26/72 Communication with referring physician...,[1/26/72],[],[],1,[1/26/72]
14,5/24/1990 CPT Code: 90792: With medical servic...,[5/24/1990],[1990],[],1,[5/24/1990]
15,1/25/2011 CPT Code: 90792: With medical servic...,[1/25/2011],[2011],[],1,[1/25/2011]
16,4/12/82 Total time of visit (in minutes):\n,[4/12/82],[],[],1,[4/12/82]
17,"1; 10/13/1976 Audit C Score, Highest/Date:\n",[10/13/1976],[1976],[],1,[10/13/1976]
18,"4, 4/24/98 Relevant Drug History:\n",[4/24/98],[],[],1,[4/24/98]
19,) 59 yo unemployed w referred by Urgent Care f...,[5/21/77],[],[],1,[5/21/77]
20,7/21/98 Total time of visit (in minutes):\n,[7/21/98],[],[],1,[7/21/98]
21,210/21/79 SOS-10 Total Score:\n,[10/21/79],[],[],1,[10/21/79]
22,3/03/90 CPT Code: 90792: With medical services\n,[3/03/90],[],[],1,[3/03/90]
23,2/11/76 CPT Code: 90792: With medical services\n,[2/11/76],[],[],1,[2/11/76]
24,07/25/1984 CPT Code: 90791: No medical services\n,[07/25/1984],[1984],[],1,[07/25/1984]
25,4-13-82 Other Child Mental Health Outcomes Sca...,[4-13-82],[],[],1,[4-13-82]
26,9/22/89 CPT Code: 90792: With medical services\n,[9/22/89],[],[],1,[9/22/89]
27,9/02/76 CPT Code: 90791: No medical services\n,[9/02/76],[],[],1,[9/02/76]
28,9/12/71 [report_end]\n,[9/12/71],[],[],1,[9/12/71]
29,10/24/86 Communication with referring physicia...,[10/24/86],[],[],1,[10/24/86]
...,...,...,...,...,...,...
470,"y1983 Clinic Hospital, first hospitalization, ...",[],[1983],[],0,[1983]
471,tProblems Urinary incontinence : mild urge inc...,[],[1999],[],0,[1999]
472,.2010 - wife; nightmares and angry outbursts; ...,[],[2010],[],0,[2010]
473,shx of TBI (1975) ISO MVA.Medical History:\n,[],[1975],[],0,[1975]
474,sPatient reported losing three friends that pa...,[],[1972],[],0,[1972]
475,TSH okay in 2015 Prior EKG:\n,[],[2015],[],0,[2015]
476,1989 Family Psych History: Family History of S...,[],[1989],[],0,[1989]
477,"oEnjoys animals, had a dog x 14 yrs who died i...",[],[1994],[],0,[1994]
478,eHistory of small right parietal subgaleal hem...,[],[1993],[],0,[1993]
479,sIn KEP Psychiatryfor therapy and medications ...,[],[1996],[],0,[1996]
480,"1. Esophageal cancer, dx: 2013, on FOLFOX with...",[],[2013],[],0,[2013]
481,y1974 (all)\n,[],[1974],[],0,[1974]
482,h/o restraining order by sister/mother in 1990...,[],[1990],[],0,[1990]
483,sTexas Medical Center; Oklahoma for 2 weeks; 1...,[],[1995],[],0,[1995]
484,Death of former partner in 2004 by overdose as...,[],[2004],[],0,[2004]
485,"Was ""average"" student. ""I didn't have too man...",[],[1987],[],0,[1987]
486,Contemplating jumping off building - 1973 - di...,[],[1973],[],0,[1973]
487,appendectomy s/p delivery 1992 Prior relevant ...,[],[1992],[],0,[1992]
488,tProblems renal cell cancer : s/p nephrectomy ...,[],[1977],[],0,[1977]
489,"ran own business for 35 years, sold in 1985\n",[],[1985],[],0,[1985]
490,Lab: B12 969 2007\n,[],[2007],[],0,[2007]
491,)and 8mo in 2009\n,[],[2009],[],0,[2009]
492,.Moved to USA in 1986. Suffered from malnutrit...,[],[1986],[],0,[1986]
493,r1978\n,[],[1978],[],0,[1978]
494,". Went to Emerson, in Newfane Alaska. Started ...",[],[2002],[],0,[2002]
495,1979 Family Psych History: Family History of S...,[],[1979],[],0,[1979]
496,therapist and friend died in ~2006 Parental/Ca...,[],[2006],[],0,[2006]
497,2008 partial thyroidectomy\n,[],[2008],[],0,[2008]
498,sPt describes a history of sexual abuse as a c...,[],[2005],[],0,[2005]
499,". In 1980, patient was living in Naples and de...",[],[1980],[],0,[1980]